// mag design color plate
// from color-{name}[1] to color-{name}[12]
color-gray = #FFFFFF #F8F9FA #F1F3F5 #E9ECEF #DEE2E6 #CED4DA #ADB5BD #868E96 #495057 #343A40 #212529 #171B1F #0E1114
color-red = #FFFFFF #FFF5F5 #FFE3E3 #FFC9C9 #FFA8A8 #FF8787 #FF6B6B #FA5252 #F03E3E #E03131 #C92A2A #B42323 #A01414
color-pink = #FFFFFF #FFF0F6 #FFDEEB #FCC2D7 #FAA2C1 #F783AC #F06595 #E64980 #D6336C #C2255C #A61E4D #8C143C #780C30
color-grape = #FFFFFF #F8F0FC #F3D9FA #EEBEFA #E599F7 #DA77F2 #CC5DE8 #BE4BDB #AE3EC9 #9C36B5 #862E9C #6D2480 #5B1D6B
color-violet = #FFFFFF #F3F0FF #E5DBFF #D0BFFF #B197FC #9775FA #845EF7 #7950F2 #7048E8 #6741D9 #5F3DC4 #5332B8 #4725B0
color-indigo = #FFFFFF #EDF2FF #DBE4FF #BAC8FF #91A7FF #748FFC #5C7CFA #4C6EF5 #4263EB #3B5BDB #364FC7 #364BB5 #3245A6
color-blue = #FFFFFF #E8F7FF #CCEDFF #A3DAFF #72C3FC #4DADF7 #329AF0 #228AE6 #1C7CD6 #1B6EC2 #1862AB #135799 #0A4C8F
color-cyan = #FFFFFF #E3FAFC #C5F6FA #99E9F2 #66D9E8 #3BC9DB #22B8CF #15AABF #1098AD #0C8599 #0B7285 #096173 #084D5C
color-teal = #FFFFFF #E6FCF5 #C3FAE8 #96F2D7 #63E6BE #38D9A9 #20C997 #12B886 #0CA678 #099268 #087F5B #066B4D #055A40
color-green = #FFFFFF #EBFBEE #D3F9D8 #B2F2BB #8CE99A #69DB7C #51CF66 #40C057 #37B24D #2F9E44 #2B8A3E #227533 #196628
color-lime = #FFFFFF #F4FCE3 #E9FAC8 #D8F5A2 #C0EB75 #A9E34B #94D82D #82C91E #74B816 #66A80F #5C940D #53870A #4B7A09
color-yellow = #FFFFFF #FFF9DB #FFF3BF #FFEC99 #FFE066 #FFD43B #FCC419 #FAB005 #F59F00 #F08C00 #E67700 #E17000 #DC6400
color-orange = #FFFFFF #FFF4E6 #FFE8CC #FFD8A8 #FFC078 #FFA94D #FF922B #FD7E14 #F76707 #E8590C #D9480F #CA420C #BD3E0B

// e.g: colors.gray[5]
colors = {
  gray: color-gray,
  red: color-red,
  pink: color-pink,
  grape: color-grape,
  violet: color-violet,
  indigo: color-indigo,
  blue: color-blue,
  cyan: color-cyan,
  teal: color-teal,
  green: color-green,
  lime: color-lime,
  yellow: color-yellow,
  orange: color-orange
}

// use colors below for generally use
color-default-fg = #000
color-default-bg = #fff
color-light-text = alpha(color-default-bg, 0.88)
color-dark-text = alpha(color-default-fg, 0.88)
