.carousel
  position relative

  .mip-carousle-subtitle
    height .44rem
    line-height .44rem
    text-size middle
    padding-left .16rem
    padding-right .94rem
    background-image: linear-gradient(-180deg, rgba(color-default-fg, 0) 0%, rgba(color-default-fg, 0.36) 100%);

  .carousel-dot
    position absolute
    bottom .19rem
    right 0
    height .06rem
    font-size 0
    > i
      margin-right .08rem
      border-radius 50%
      width .06rem
      height .06rem
      background-color rgba(color-default-bg, 0.36)
      display inline-block
      overflow hidden
    .mip-carousel-activeitem
      background-color color-light-text

