@import "../base/variables"
@import "../base/mixins"

hr
  height .01rem
  background-color alpha(color-default-fg, 0.08) 
  border none
  &.hr-white
    background-color alpha(color-default-bg, 0.08)

.hr-white
    background-color alpha(color-default-bg, 0.08)

.hr-default
    background-color alpha(color-default-fg, 0.08)

.hr-l
  height .04rem

.hr-xl
  height .08rem
