@font-face {
  font-family: "icon";
  src: url('fonts/icon.eot');
  src: url('fonts/icon.eot?#iefix') format('eot'),
    url('fonts/icon.woff') format('woff'),
    url('fonts/icon.ttf') format('truetype'),
    url('fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon::before {
  display: inline-block;
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

for iconName, codepoint in icon-font-codepoint
  .icon-{iconName}
    font-icon iconName
