@font-face {
  font-family: "mag-icon";
  src: url('fonts/mag-icon.eot');
  src: url('fonts/mag-icon.eot?#iefix') format('eot'),
    url('fonts/mag-icon.woff2') format('woff2'),
    url('fonts/mag-icon.woff') format('woff'),
    url('fonts/mag-icon.ttf') format('truetype'),
    url('fonts/mag-icon.svg#mag-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mag-icon::before {
  display: inline-block;
  font-family: "mag-icon";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

for iconName, codepoint in icon-font-codepoint
  .mag-icon-{iconName}
    font-icon iconName
