@font-face
  font-family "mag-icon"
  font-family "mag-icon"
  src url('fonts/mag-icon.eot')
  src url('fonts/mag-icon.eot?#iefix') format('eot'),
    url('fonts/mag-icon.woff') format('woff'),
    url('fonts/mag-icon.ttf') format('truetype'),
    url('fonts/mag-icon.svg#icon') format('svg')
  font-weight normal
  font-style normal
.icon
  display inline-block
  font-family "mag-icon"
  font-style normal
  font-weight normal
  text-decoration none
  text-transform none
  line-height 1
.icon-order
  &:before
    content "\e67a"
.icon-night
  &:before
    content "\e67b"
.icon-finger
  &:before
    content "\e67c"
.icon-font
  &:before
    content "\e67d"
.icon-day
  &:before
    content "\e67e"
.icon-mybook
  &:before
    content "\e67f"
.icon-menu
  &:before
    content "\e680"
.icon-menulist
  &:before
    content "\e681"
.icon-play
  &:before
    content "\e682"
.icon-logo
  &:before
    content "\e685"
.icon-comment
  &:before
    content "\e686"
.icon-search
  &:before
    content "\e687"
.icon-right
  &:before
    content "\e688"
.icon-more
  &:before
    content "\e689"
.icon-fabulous
  &:before
    content "\e68a"
.icon-share
  &:before
    content "\e68b"
.icon-fabulous_normal
  &:before
    content "\e68c"
.icon-left
  &:before
    content "\e68d"
.icon-down
  &:before
    content "\e68e"
.icon-up
  &:before
    content "\e68f"
.icon-add
  &:before
    content "\e690"
.icon-close
  &:before
    content "\e691"
.icon-voice-frame-1
  &:before
    content "\e693"
.icon-voice-frame-2
  &:before
    content "\e694"
.icon-voice
  &:before
    content "\e692"
.icon-compass
  &:before
    content "\e695"
.icon-github
  &:before
    content "\e696"
.icon-components
  &:before
    content "\e697"
.icon-mip
  &:before
    content "\e698"
.icon-code
  &:before
    content "\e69a"
.icon-close1
  &:before
    content "\e699"
