/**
 * @file 常用文本标签
 */

.label
  display inline-block
  height 14px
  padding 0 2px
  margin-bottom 2px
  text-decoration none
  vertical-align middle
  color #fff
  font-size 10px
  line-height 15px
  font-style normal
  font-weight 400
  overflow hidden
  border-radius 2px

.label-danger
  background-color #f13f40

.label-public
  background-color #2b99ff

.label-info
  display inline
  color #999
  font-style normal
  font-weight 400
  font-family sans-serif


.label-box
  display inline-block
  padding 1px 2px
  margin-bottom 2px
  text-decoration none
  vertical-align middle
  font-size 10px
  line-height 11px
  height 10px
  font-style normal
  font-weight 400
  overflow hidden
  -webkit-box-sizing content-box
  box-sizing content-box
  border-radius 2px

.label-box-gray
  color #999
  border 1px solid #e3e3e3

.label-box-orange
  color #f60
  border 1px solid #f3d9c5

.label-box-pink
  color #ff4683
  border 1px solid #ffc7da

.label-box-red
  color #f13f40
  border 1px solid #efb9b9

.label-box-blue
  color #2b99ff
  border 1px solid #b3d4f3

.label-box-green
  color #65b12c
  border 1px solid #d7efc6

.label-box-yellow
  color #faa90e
  border 1px solid #feecc9

