/**
 * @file 常用文本标签
 */

border-and-color(border, color)
  color color
  border 0.01rem solid border

.label
  display inline-block
  height .14rem
  padding 0 0.02rem
  margin-bottom 0.02rem
  text-decoration none
  vertical-align middle
  color #fff
  font-size 0.1rem
  line-height 0.15rem
  font-style normal
  font-weight 400
  overflow hidden
  border-radius 0.02rem

.label-danger
  background-color #f13f40

.label-public
  background-color #2b99ff

.label-info
  display inline
  color #999
  font-style normal
  font-weight 400
  font-family sans-serif

.label-box
  display inline-block
  padding 0.01rem 0.02rem
  margin-bottom 0.02rem
  text-decoration none
  vertical-align middle
  font-size 0.1rem
  line-height 0.11rem
  height 0.1rem
  font-style normal
  font-weight 400
  overflow hidden
  -webkit-box-sizing content-box
  box-sizing content-box
  border-radius 0.02rem

.label-box-gray
  border-and-color(#e3e3e3, #999)

.label-box-orange
  border-and-color(#f3d9c5, #f60)

.label-box-pink
  border-and-color(#ffc7da, #ff4683)

.label-box-red
  border-and-color(#efb9b9, #f13f40)

.label-box-blue
  border-and-color(#b3d4f3, #2b99ff)

.label-box-green
  border-and-color(#d7efc6, #65b12c)

.label-box-yellow
  border-and-color(#feecc9, #faa90e)

