@import "../base/variables"
@import "../base/mixins"

.scrollbox a
  +state-active()
    background-color alpha(color-default-fg, 0.04)

.scrollbox-more
  text-align center
  a
    position relative
    height 100%
    color alpha(color-default-fg, 0.88)
  div
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    .icon
      font-size .42rem
