@import "variables"
@import "mixins"

for size in xs s m l title-s title-m title-l title-xl
  .font-size-{size}
    text-size size
.font-size-s
  text-size 's'

for size in (0..10)
  .font-size-{size}
    font-size font-sizes-numeric[size]

.rounded
  border-radius 0.03rem
.no-white-space
  font-size 0
i.mg-icon
  font-style normal
  &:before
    content: '☉'
.bg-orange
  background-color color-orange
.bg-red
  background-color color-red
