@import "variables"

.rounded
  border-radius 0.03rem
.no-white-space
  font-size 0
i.mg-icon
  font-style normal
  &:before
    content: '☉'
.bg-orange
  background-color color-orange
.bg-red
  background-color color-red
