.mag-container {
  margin: 0.1rem 0;
  padding: 0.1rem 0.17rem 0.15rem;
  background-color: #fff;
  width: auto;
  color: #555;
  font: 14px/24px Arial, Helvetica, sans-serif;
  word-break: break-word;
  word-wrap: break-word;
  border: 0 none;
}
.mag-container-tight {
  padding: 0.1rem 0.17rem 0.15rem;
  background-color: #fff;
  width: auto;
  color: #555;
  font: 14px/24px Arial, Helvetica, sans-serif;
  word-break: break-word;
  word-wrap: break-word;
  border: 0 none;
}
.mag-container-tile {
  margin: 0;
  padding: 0;
}
.mag-flexbox,
.mag-row {
  width: auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -webkit-box-align: stretch;
  -webkit-box-lines: single;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: stretch;
  -webkit-align-content: flex-start;
  -webkit-flex-wrap: nowrap;
}
.mag-row {
  margin-right: -1.03092784%;
  margin-left: -1.03092784%;
}
.mag-row-tight {
  margin-right: -1px;
  margin-left: 0;
}
.mag-row-tile {
  position: relative;
  margin: 0 -0.17rem;
}
.mag-row-tile .mag-row {
  padding: 0 0.17rem;
}
.mag-row-top {
  position: relative;
  margin-top: -0.1rem;
}
.mag-row-top .mag-row:first-child {
  padding-top: 0.1rem;
}
.mag-row-bottom {
  position: relative;
  margin-bottom: -0.15rem;
}
.mag-row-bottom .mag-row:last-child {
  padding-bottom: 0.15rem;
}
.mag-row *,
.mag-row-tile *,
.mag-row-top *,
.mag-row-bottom * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mag-span1, .mag-span2, .mag-span3, .mag-span4, .mag-span5, .mag-span6, .mag-span7, .mag-span8, .mag-span9, .mag-span10, .mag-span11, .mag-span12 {
  position: relative;
  min-height: 1px;
  padding-right: 1.03092784%;
  padding-left: 1.03092784%;
}
.mag-row-tight .mag-span1, .mag-row-tight .mag-span2, .mag-row-tight .mag-span3, .mag-row-tight .mag-span4, .mag-row-tight .mag-span5, .mag-row-tight .mag-span6, .mag-row-tight .mag-span7, .mag-row-tight .mag-span8, .mag-row-tight .mag-span9, .mag-row-tight .mag-span10, .mag-row-tight .mag-span11, .mag-row-tight .mag-span12 {
  padding-right: 1px;
  padding-left: 0;
}
.mag-span1 {
  width: 8.33333333%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
}
.mag-span2 {
  width: 16.66666667%;
  -webkit-box-flex: 2;
  -webkit-flex: 2 2 auto;
}
.mag-span3 {
  width: 25%;
  -webkit-box-flex: 3;
  -webkit-flex: 3 3 auto;
}
.mag-span4 {
  width: 33.33333333%;
  -webkit-box-flex: 4;
  -webkit-flex: 4 4 auto;
}
.mag-span5 {
  width: 41.66666667%;
  -webkit-box-flex: 5;
  -webkit-flex: 5 5 auto;
}
.mag-span6 {
  width: 50%;
  -webkit-box-flex: 6;
  -webkit-flex: 6 6 auto;
}
.mag-span7 {
  width: 58.33333333%;
  -webkit-box-flex: 7;
  -webkit-flex: 7 7 auto;
}
.mag-span8 {
  width: 66.66666667%;
  -webkit-box-flex: 8;
  -webkit-flex: 8 8 auto;
}
.mag-span9 {
  width: 75%;
  -webkit-box-flex: 9;
  -webkit-flex: 9 9 auto;
}
.mag-span10 {
  width: 83.33333333%;
  -webkit-box-flex: 10;
  -webkit-flex: 10 10 auto;
}
.mag-span11 {
  width: 91.66666667%;
  -webkit-box-flex: 11;
  -webkit-flex: 11 11 auto;
}
.mag-span12 {
  width: 100%;
  -webkit-box-flex: 12;
  -webkit-flex: 12 12 auto;
}
.mag-span-middle {
  display: box;
  box-orient: vertical;
  box-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.mag-line-clamp2, .mag-line-clamp3, .mag-line-clamp4, .mag-line-clamp5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.05rem;
  white-space: normal;
}
.mag-line-clamp2 {
  -webkit-line-clamp: 2;
}
.mag-line-clamp3 {
  -webkit-line-clamp: 3;
}
.mag-line-clamp4 {
  -webkit-line-clamp: 4;
}
.mag-line-clamp5 {
  -webkit-line-clamp: 5;
}
.mag-line-clamp1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mag-line-top {
  border-top: 1px solid #eee;
}
.mag-line-dotted-top {
  border-top: 1px dotted #eee;
}
.mag-line-bottom {
  border-bottom: 1px solid #eee;
}
.mag-line-dotted-bottom {
  border-bottom: 1px dotted #eee;
}

.mag-gap-top-zero {
  margin-top: 0;
}
.mag-gap-right-zero {
  margin-right: 0;
}
.mag-gap-bottom-zero {
  margin-bottom: 0;
}
.mag-gap-left-zero {
  margin-left: 0;
}
.mag-gap-top {
  margin-top: 0.1rem;
}
.mag-gap-right {
  margin-right: 0.1rem;
}
.mag-gap-bottom {
  margin-bottom: 0.1rem;
}
.mag-gap-left {
  margin-left: 0.1rem;
}
.mag-gap-top-small {
  margin-top: 0.05rem;
}
.mag-gap-right-small {
  margin-right: 0.05rem;
}
.mag-gap-bottom-small {
  margin-bottom: 0.05rem;
}
.mag-gap-left-small {
  margin-left: 0.05rem;
}
.mag-gap-top-large {
  margin-top: 0.15rem;
}
.mag-gap-right-large {
  margin-right: 0.15rem;
}
.mag-gap-bottom-large {
  margin-bottom: 0.15rem;
}
.mag-gap-left-large {
  margin-left: 0.15rem;
}
.mag-gap-left-middle {
  margin-left: 0.08rem;
}
.mag-gap-right-middle {
  margin-right: 0.08rem;
}
