@import "normalize.css"

*
  box-sizing border-box
  -webkit-tap-highlight-color transparent
body, .normal
  text-size middle
  color color-dark-text

// 覆盖 mip.css 中链接样式
a
  color color-dark-text

html
  font-size 100px
@media screen and (max-width: 360px)
  html
    font-size 90px
a
  display inline-block
