@import "normalize.css"
@import "variables"
@import "mixins"

*
  margin 0
  padding 0
  box-sizing border-box
  text-size middle
  color color-dark-text
html
  font-size 100px
@media screen and (max-width: 360px)
  html
    font-size 90px
a
  display inline-block
  -webkit-tap-highlight-color transparent
