html
  font-family -apple-system, BlinkMacSystemFont,
              "Segoe UI", "Roboto",
              "Helvetica Neue", "PingFang SC",
              "Noto Sans" , "Noto Sans CJK SC",
              "Microsoft YaHei", "微软雅黑",
              sans-serif
h1
  text-size title-xl
h2
  text-size title-l
h3
  text-size title-m
h4, h5, h6
  text-size title-s
p
  text-size middle
.subtitle
  text-size l
  color alpha(color-default-fg, 0.56) 
  margin-bottom .08rem
