color-black = #000
color-red = #fc6c6e
color-orange = #fd923a
color-white = #fff

color-default-fg = color-black
color-default-bg = color-white
color-reverse-fg = color-white
color-reverse-bg = color-black
